@charset "utf-8";

/* Folha de estilo para os exercicios de JavaScript */
/* 
paleta de cores deste site:
#2f4858 //footer
#265667 
#136473
#00737a //nav
#00817d
#008f7a //petrolio
#007ec3 //azul escuro
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: black; */
}

body {

    /* background-image: linear-gradient(to bottom,#00bad3 50%, #00728a 100%);
    background-repeat: repeat; */
    background-image: linear-gradient(to bottom, #3717c3 50%, #00728a 100%);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    justify-content: flex-start;
}

header {
    background-color: #bb945b;
    height: 135px;
    border-radius: 15px;
    /* border-color: #00bad3; */
    border: solid hsl(2, 80%, 14%) 3px;
    padding: 7px;
}

nav {
    background-color: #645e93e1;
    height: 35px;
    border-radius: 15px;
    /* border-color: #00bad3; */
    border: solid #702fe8 3px;
    padding: 7px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    text-decoration: none;
    color: whitesmoke;
}
main {
    background-color: #ba3535;
    /* height: auto; */
    height: 100%;
    border-radius: 15px;
    /* border-color: #00bad3; */
    border: solid #3a29f6 3px;
    padding: 7px;
}

footer {
    background-color: #070985;
    height: 85px;
    border-radius: 15px;
    /* border-color: #00bad3; */
    border: solid #5c55c6 3px;
    padding: 7px;
}